<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    <body>

        <header class="header">
            <div class="logo">My Portfolio</div>
            <a th:href="@{/signin}" class="header-btn">新規登録</a>
        </header>

        <main class="main-container">

            <h1 class="page-title">ログイン</h1>

            <form th:action="@{/login}" th:object="${loginForm}" method="post" class="signup-form">
                
                <div class="form-group">
                    <label class="form-label">メールアドレス</label>
                    <input type="text" id="email" name="username" placeholder="exampl@email.com" />
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>

                <div class="form-group">
                    <label class="form-label">パスワード</label>
                    <input type="password" id="password" name="password" placeholder="パスワードを入力" />
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>

                <div class="button-group">
                    <button type="submit" class="submit-btn">ログインする</button>
                    <a th:href="@{/signin}" class="sub-btn">新規登録する</a>
                </div>

            </form>

        </main>

        <footer class="footer">
            <div class="footer-logo">portfolio site</div>
        </footer>

    </body>
</html>